<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
</head>
<body>
<style>
    .minesweeper
    {
        border: 2px solid #888888;
        border-collapse: collapse;
    }

    .minesweeper td
    {
        border: 2px solid #888888;
        background-color: #DDDDDD;
        width: 15px;
        height: 15px;
        padding: 0;
        text-align: center;
        font-size: 0.8em;
    }

</style>
<h1 id="title">Minesweeper</h1>
<table id="minesweeper-table" class="minesweeper">
    <tr>
        <td id="cell-1x1">&nbsp;</td>
        <td id="cell-1x2">&nbsp;</td>
        <td id="cell-1x3">&nbsp;</td>
        <td id="cell-1x4">&nbsp;</td>
        <td id="cell-1x5">&nbsp;</td>
        <td id="cell-1x6">&nbsp;</td>
        <td id="cell-1x7">&nbsp;</td>
        <td id="cell-1x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-2x1">&nbsp;</td>
        <td id="cell-2x2">&nbsp;</td>
        <td id="cell-2x3">&nbsp;</td>
        <td id="cell-2x4">&nbsp;</td>
        <td id="cell-2x5">&nbsp;</td>
        <td id="cell-2x6">&nbsp;</td>
        <td id="cell-2x7">&nbsp;</td>
        <td id="cell-2x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-3x1">&nbsp;</td>
        <td id="cell-3x2">&nbsp;</td>
        <td id="cell-3x3">&nbsp;</td>
        <td id="cell-3x4">&nbsp;</td>
        <td id="cell-3x5">&nbsp;</td>
        <td id="cell-3x6">&nbsp;</td>
        <td id="cell-3x7">&nbsp;</td>
        <td id="cell-3x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-4x1">&nbsp;</td>
        <td id="cell-4x2">&nbsp;</td>
        <td id="cell-4x3">&nbsp;</td>
        <td id="cell-4x4">&nbsp;</td>
        <td id="cell-4x5">&nbsp;</td>
        <td id="cell-4x6">&nbsp;</td>
        <td id="cell-4x7">&nbsp;</td>
        <td id="cell-4x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-5x1">&nbsp;</td>
        <td id="cell-5x2">&nbsp;</td>
        <td id="cell-5x3">&nbsp;</td>
        <td id="cell-5x4">&nbsp;</td>
        <td id="cell-5x5">&nbsp;</td>
        <td id="cell-5x6">&nbsp;</td>
        <td id="cell-5x7">&nbsp;</td>
        <td id="cell-5x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-6x1">&nbsp;</td>
        <td id="cell-6x2">&nbsp;</td>
        <td id="cell-6x3">&nbsp;</td>
        <td id="cell-6x4">&nbsp;</td>
        <td id="cell-6x5">&nbsp;</td>
        <td id="cell-6x6">&nbsp;</td>
        <td id="cell-6x7">&nbsp;</td>
        <td id="cell-6x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-7x1">&nbsp;</td>
        <td id="cell-7x2">&nbsp;</td>
        <td id="cell-7x3">&nbsp;</td>
        <td id="cell-7x4">&nbsp;</td>
        <td id="cell-7x5">&nbsp;</td>
        <td id="cell-7x6">&nbsp;</td>
        <td id="cell-7x7">&nbsp;</td>
        <td id="cell-7x8">&nbsp;</td>
    </tr>
    <tr>
        <td id="cell-8x1">&nbsp;</td>
        <td id="cell-8x2">&nbsp;</td>
        <td id="cell-8x3">&nbsp;</td>
        <td id="cell-8x4">&nbsp;</td>
        <td id="cell-8x5">&nbsp;</td>
        <td id="cell-8x6">&nbsp;</td>
        <td id="cell-8x7">&nbsp;</td>
        <td id="cell-8x8">&nbsp;</td>
    </tr>
</table>

</body>
</html>