<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>primeFactors</title>
    </head>
    <body>
        <h5 id = "title"> prime factors view</h5>
        <p id="invitation"> please insert de number that you want to see the prime factory</p>
        <input type="number" id="number">
        <button id="go" type="button" onclick="document.getElementById('result').innerHTML = Date()">Go</button><br>
        <textarea id="result" disabled></textarea>
    </body>
</html>